<div class="container">
  <div class="row">
    <div class="span4 offset2 front-error-image">
    </div>
    <div class="span4 front-error-status">
      404
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      &nbsp;
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <pre><strong>Resource Not Found</strong>
<strong>[{{path}}]</strong>

The item you were looking for could not be found.</pre>
    </div>
  </div>
</div>
