<div class="container">
  <div class="row">
    <div class="span4 offset2 front-error-image">
    </div>
    <div class="span4 front-error-status">
      500
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      &nbsp;
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <pre><strong>Internal Server Error</strong>
<strong>[{{path}}]</strong>

A relatively serious, internal server error occurred:

{{desc}}</pre>
    </div>
  </div>
</div>
